{
  "Logging": {
    "LogLevel": {
      "Default": "Trace",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "AllowedHosts": "*",
  "ResourceConnectionString": "REPLACE_WITH_COMMUNICATION_RESOURCE_CONNECTION_STRING",
  "EndpointUrl": "REPLACE_WITH_ENDPOINT_URL",
  "AdminUserId": "REPLACE_WITH_ADMIN_USER_ID",
  "AzureBlobStorageConnectionString": "REPLACE_WITH_BLOB_STORAGE_CONNECTION_STRING",
  "AgentUsers": [
    {
      "teamsUserId": "REPLACE_WITH_TEAMS_USER_ID_OF_THE_AGENT",
      "acsUserId": "REPLACE_WITH_ACS_USER_ID_OF_THE_AGENT",
      "displayName": "REPLACE_WITH_DISPLAY_NAME_OF_THE_AGENT"
    }
  ]
}
